.wp-block-create-block-react-testing {
    border: 1px solid #eeeeee;
    padding: 20px;
    box-shadow: 1px 1px 15px #0000001c;
    border-radius: 4px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;;
}
